[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
sqlalchemy = "*"
pipenv = "*"
shell = "*"
sqlalchemy-serializer = "*"
flask-migrate = "*"
gunicorn = "*"
psycopg2-binary = "*"
flask-sqlalchemy = "*"
flask-restful = "*"

[dev-packages]

[requires]
python_version = "3.11"
