.App {
  text-align: center;
  background-color: #000;
  min-height: 100vh;
  min-width: 80vh;
}

.body{
  background-color: #000;
}

nav {
  background-color: rgb(252, 181, 101);
  text-decoration-color: #e71388;
  padding: 2px;
}

nav ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-items {
  min-width: 0.2em;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-right: 30px;
}

.menu-items li {
  margin-left: 20px;
}

.menu-items li a{
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  font-size: small;
}

ul li a:hover{
  color:#e71388;
}

.navlink a {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  color: #fff;
  background-color: #300707;
  padding: 10px 60px;
  border: 2px solid #a54461;
  box-shadow: 0 0 0 0;
  border-radius: 50px;
  display: block;
  text-decoration: none;
  margin: 0 0.5rem;
  transition: background-color 0.4s ease-in-out, color 0.3s ease-in-out, padding 0.3s ease-in-out, transform 0.3s ease-in-out, border 0.3s ease-in-out;
}

.navlink a:hover {
  padding: 10px 70px;
  transform: translateY(-5px);
  background-color: #fff;
  color: #49172f;
  border: solid 2px #20050c;
}

.heading{
  text-align: center;
  font-size: large;
  color: #fff;
  margin-top: 50px;
}

#about-body h3{
  font-size: medium;
}

#about-body h2{
  font-size: large;
}

#about-body h5{
  font-size: small;
}

#about-btn {
  padding: 5px;
  font-size: small;
}

.close{
  display: flex;
  justify-content:flex-end;
  text-decoration: none;
  color: red;
}

.register h2{
  color: white;
  font-size: medium;
  margin-top: 20px;
  margin-bottom: 10px;
}

.btn-back{
  border: 1px solid red;
  color: white;
  background-color: red;
  font-size: x-small;
  padding: 5px;
  text-decoration: none;
  display: flex;
  justify-content: left;
  width: 32px;
  border-radius: 5px;
  text-align: center;
}

.delete {
  border: 1px solid red;
  color: white;
  background-color: red;
  font-size: x-small;
  padding: 5px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  width: 60px;
  border-radius: 5px;
  margin: auto;
  text-align: center;
  margin-top: 10px;
}

.register-heading{
  font-size: small;
  text-transform: uppercase;
}

.register-label{
  font-size: smaller;
}

.enrolled {
  min-height: 100vh;
  background-color: #000;
  padding: 5px;
}

.enrolled h2{
  color: #fff;
  margin-top: 15px;
  font-size: medium;
}

.enrolled h5, p{
  font-size: small;
}

.card p{
  font-size: small;
  margin:0;
  padding: 0;
}

.card h1{
  font-size: large;
}

.card h3{
  font-size: small;
}

button[type="submit"] {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  color: #fff;
  background-color: #250103;
  padding: 10px 30px;
  border: 2px solid #250211;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 1s, color 1s, padding 1s, transform 1s, border 1s;
}

button[type="submit"]:hover {
  padding: 10px 50px;
  transform: translateY(-5px);
  background-color: #fff;
  color: #330418;
  border: 2px solid #e71388;
}

.user_container {
  max-width: 800px;
  margin: 0 auto;
}

.card {
  background-color: rgb(250, 162, 91);
  padding: 16px;
  margin: 16px 0;
  border-radius: 8px;
}

img {
  max-height: 60vh;
  margin-top: 10px;
}

.button-container {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.button-container button {
  margin-top: 10px;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  color: #fff;
  background-color: #250103;
  padding: 10px 30px;
  border: 2px solid #250211;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 1s, color 1s, padding 1s, transform 1s, border 1s;
}

.button-container button:hover {
  padding: 10px 50px;
  transform: translateY(-5px);
  background-color: #fff;
  color: #330418;
  border: 2px solid #e71388;
}
